.App {
  display: grid;
  grid-template-rows: 75px max-content;
  grid-template-columns: 100%;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat';
  margin-bottom: 100px;
  
}



